<% content_for :nav do %>
<%= render 'shared/navigation' %>
<% end %>

<% content_for :intro do %>
<p style="font-weight:bold; text-align:center;"> Columbia University Orchestra Roster for the Spring 2012 Season </p>               
<% end %>

<% content_for :left do %>
<div style="-moz-column-gap: 7em;
-moz-column-width: 7em;
font-size: 11px;
height: 836px;">
<h3>Flute</h3>
Caroline Sonett, CC ’14<br/>
Evan Welber, CC ’13<br/>
Rachel Susser, BC ’14<br/>

Sarah Wald, CC ’12<br/>

Rebecca Baehr, BC ’13<br/>

Lucy Bailey, P&amp;S ’14<br/>

<br/>
 <h3>Oboe, English Horn</h3>

 

Zoë Hilbert, CC ’12<br/>

Richard Ha, CC ’15<br/>

Lauren Williams<br/>

 
<br/>
<h3>Clarinet</h3>

 

Bryan Terrazas, CC ’13<br/>

Matt Boyas<br/>

Soo (Kathy) Yuh, CC ’15<br/>

Jennifer Schmeyer, CC ’14<br/>

Ellen Choi, CC ’15<br/>

Yeon-Hyung Lim, CC ’12<br/>

 

<br/>
<h3>Bassoon </h3>

 

Allison Griffith, GSAS ’15<br/>

Cynthia Jung, CC ’15<br/>

Joanna Phillips, CC ’12<br/>

Jonathan Sturr, CC ’14<br/>
	
<br/>
<h3>French Horn</h3>

 

Sara Zukowski, SEAS ’12<br/>

Joe Betts, CC ’15<br/>

Amanda Case, GSAS ’12<br/>

David Raschella<br/>

Trevor Nuckols<br/>

 

 <br/>

<h3>Trumpet</h3>

 

Daniel Spunberg, CC ’12<br/>

Adrian Febre, SEAS ’15<br/>

Scott Aronin, CC ’15<br/>

 

 
<br/>
<h3>Trombone</h3>

 

Victoria Meyer, CC ’15<br/>

Barbara Hamilton, P&S ’12<br/>

Sam Wilson, SEAS ’15<br/>

Raul Ruiz, CC ’12<br/>

Graham Gibson<br/>

 

 

 

 
<br/><br/>
<h3>Percussion</h3>

 

Claire Duvallet, SEAS ’13<br/>

Dana Defilippo, CC ’13<br/>

Rebecca Gray, BC ’13<br/>

 

 
<br/>
<h3>Harp</h3>

 

Megan Pennock, CC ’13<br/>

Andrea Weiss, ENG ’13<br/>

 

 
<br/>
<h3>Piano</h3>

 
Jingxuan Zhang, CC ’15 	<br/>

<br/>
<h3>Violin</h3>
 

Mary Keller, CC ’14,<br/><i> Concertmistress</i><br/>

Amir Safavi, CC ’14<br/>

 

Julia Danitz, CC ’15,<br/><i> Assistant Concertmaster</i><br/>

Kevin Lee, CC ’14,<br/><i> Assistant Concertmaster</i><br/>

 

Maya Chung, CC ’15<br/>

Vivian Luo, CC ’12<br/>

 

Jonathan Lee, SEAS, ’13<br/>

Ellen Ward, CC ’13<br/>

 

Emily Ostertag, CC ’13<br/>

Harrison Liew, SEAS ’15<br/>

 

Katherine Shen, BC ’13<br/>

Kanako Morimoto, SEAS ’13<br/>

 

Moeko Tamura, BC ’15<br/>

Ellen Vitercik, CC ’15<br/>

 

Elizabeth Sun, CC ’15<br/>

Reshena Liao, CC ’14<br/>

 

 
<br/>
<h3>Violin II</h3>

 

Victoria Lewis, CC ’13,<br/><i> Principal</i><br/>

Shahrzad (Shara) Mohtadi, CC ’14,<br/><i> Assistant Principal</i><br/>

 

Eun Sik (John) Cho, CC ’15<br/>

David Figueroa, ENG ’15<br/>

 

Elizabeth Hertzog, BC ’12<br/>

Grace Catherine Greiner, CC ’15<br/>

 

Julia Stone, BC ’14<br/>

Anna-Luisa Mirto, CC ’14<br/>

 

Rachel Lewis, BC ’14<br/>

Caren Lee Caplan, TC ’05<br/>

 

Soyeon Kim, BC ’14<br/>

Hannah Fraser, SEAS ’12<br/>

 

Janelle Liu, CC ’13<br/>

Zachary Bill, CC ’12<br/>
	
<br/>

<h3>Viola</h3>

 

Alexander Tall, GS ’14,<br/><i> Principal </i><br/>

Olern Pornpitaksuk, SEAS ’14,<br/><i> Assistant Principal</i><br/>

 

Mickey McDonald, GSAS<br/>

Elliot Kwon, CC ’15<br/>

 

Matt Kalish, SEAS ’12<br/>

Shayna Orens, CC ’15<br/>

 

Philip Chuang, GSAS<br/>

Hillel Lehmann, GS ’15<br/>

 

Doreen Yeung, BC ’14<br/>

Sarah Cohn, BC ’15<br/>

 

Connie Phung, SEAS ’15<br/>

Michael Kan, CC ’12<br/>

 

 
<br/>
<h3>Violoncello</h3>

 

Lukas Matern, CC ’14,<br/><i> Principal</i><br/>

Corinna Boylan, CC ’15<br/>

 

Steven Bennett, CC ’15<br/>

Gregory Barber, CC ’15<br/>

 

Beatrice Masters, BC ’15<br/>

Alex Chang, CC ’15<br/>

 

Justin Zhao, SEAS ’15<br/>

Laura Pantley, BC ’13<br/>

 

Yi An Pan, CC ’14<br/>

Dahlia Hassan, CC ’13<br/>

 

Jennifer Ding, CC ’14<br/>

Fiona Kinniburgh, CC ’13<br/>

 

Cole Diamond, SEAS ’13<br/>

 

 
<br/>
<h3>Contrabass</h3>
Vladimir Bernstein, CC ’14,<br/><i>  Principal </i> <br/>
Gabrielle Marx, CC ’12, <br/><i>Assistant Principal </i><br/>

 



</p>
</div>
<% end %>

<% content_for :right do %>

<div style="display:none;" bio_partials>
<% %w(milarsky onishi rinderknecht).each do |musician| %>
<div id="<%= musician %>">
<%= render :partial => "bios/#{musician}" %>
</div>
<% end %>
</div>


<div>
		<h3>Maestro Milarsky</h3>
			<%= link_to image_tag("milarsky.jpg", :alt => "site",  :width => "80px;", :style => "position:absolute;"), asset_path("milarsky_large.jpg"), :rel => "fancybox", :title => "Maestro Jeffrey Milarsky" %>

			<small style="float:right; padding-left: 102px; padding-bottom:20px;">
			<a href="mailto:jfm176@columbia.edu" title="Click to email me">Jeffrey Milarsky</a> is the leading conductor of contemporary music in New York City.  In the United States and abroad, he has premiered and recorded works by contemporary composers, including Charles Wuorinen, Fred Lerdahl, Milton Babbitt, Elliott Carter...
				<a name="Jeffrey Milarsky" href="#milarsky" rel="facebox">Read Biography</a>	
			</small>
</div>	
<div staff>	
			<h3>Staff</h3>
			
			
			
			
				<small>	<h4><a>Yoshiaki Onishi</a> - Assistant Conductor</a></h4></small>
					<%= link_to image_tag("onishi.jpg", :alt => "site", :style => "position:absolute; width:80px;"), asset_path("onishi.jpg"), :rel => "fancybox", :title => "Yoshiaki Onishi" %>

					<small style="float:right; padding-left: 102px; padding-bottom:20px;">
						<a href="mailto:yo2188@columbia.edu" title="Click to email me">Yoshiaki Onishi</a> is a laureate of the Gaudeamus Prize 2011 as well as a composer and conductor. He is currently in his fourth year as a doctorate candidate in music composition and a teaching fellow at Columbia University in the City of New York.  As a composer...
						<a name="Yoshiaki Onishi" href="#onishi" rel="facebox">Read Biography</a>	
					</small>
			<br/>		
			
			
			
			
			<small>	<h4><a>Luke Rinderknecht -</a> Orchestra Manager</h4></small>
				<%= link_to image_tag("rinderknecht.jpg", :alt => "site", :style => "position:absolute; width:80px;"), asset_path("rinderknecht.jpg"), :rel => "fancybox", :title => "Luke Rinderknecht" %>


				<small style="float:right; padding-left: 102px; padding-bottom:20px;">
				<a href="mailto:cuoluke@gmail.com" title="Click to email me">Luke Rinderknecht</a>
	 			is the leading conductor of contemporary music in New York City.  In the United States and abroad, he has premiered and recorded works by contemporary composers, including Charles Wuorinen, Fred Lerdahl, Milton Babbitt, Elliott Carter...
					<a  name="Luke Rinderknecht" rel="facebox" href="#rinderknecht" >Read Biography</a>	
				</small>
				
				<br/>
				
			
					
</div>		
<div eboard>
<h3>Executive Board</h3>
<small>
<p>
	<a href="mailto:dld2132@columbia.edu" title="Click to email me" qtip>Dana DeFilippo</a> (President)<br/>
	<a href="mailto:bat2115@columbia.edu"  title="Click to email me" qtip>Bryan Terrazas</a><br/>
	<a href="mailto:jel2161@columbia.edu" title="Click to email me">Jonathan Lee</a><br/>
	<a href="mailto:kwl2117@columbia.edu"  title="Click to email me">Kevin Lee</a><br/>
	<a href="mailto:hl2684@columbia.edu"  title="Click to email me">Hillel Lehmann</a><br/>
	<a href="mailto:syy2110@columbia.edu"  title="Click to email me">Kathy Yuh</a>
</p>	
</small>
</div>
<% end %>

<% content_for :footer do %>
	<%= render 'shared/footer' %>
<% end %>